:root {
    --primary-text: white;
    --secondary-text: rgb(148, 148, 148);
    --subtle-border: rgb(40, 40, 40);
    --bg: linear-gradient(155deg, rgb(12, 13, 13), black 50%);
    --card-ss-bg: rgb(13, 13, 13);
}

* {
    box-sizing: border-box;
}
html {
    background-color: rgb(12, 13, 13);
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Liter";
    position: relative;
    transition: .4s ease;
    color: var(--primary-text);
    background: var(--bg);
   
}
.body::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
    color: unset;
}
h1, p {
    margin: 0;
}
.body.dark img:not(.pfp, .screenshot, .mobileSS, .carousel img) {
    filter: invert(1);
    transition: .3s ease;
}

/* Header */
.top-bar {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 25px;
    gap: 20px;
}
.top-bar a {
    opacity: .5;
    transition: .2s;
    cursor: pointer;
}
.top-bar a img {
    height: 25px;
}
.top-bar a:hover {
    opacity: 1;
    scale: 1.1
}


/* Main */
.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 100%;   
    margin-top: 40px;
}
.profile > * {
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
}


/* Personal Section */
.personal-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--subtle-border);
}
.pfp {
    max-height: 125px;
}
.personal-info {
    display: flex;
    flex-direction: column;
    gap: 0;
}
.username-status {
    display: flex;
    align-items: center;
    gap: 25px;
}
.username {
    font-size: 30px;
    font-weight: 500;
}
.status {
    color: var(--secondary-text);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    margin-top: 5px;
}
.status p {
    font-weight: 100;
}
.status-light {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgb(2, 236, 2);
    animation: status-glow 1.5s infinite 
}
.bio p {
    font-weight: 100;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.location-tag {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--secondary-text);
}
.location-tag p {
    font-size: 15px;
}
.location-tag img {
    height: 15px;
    opacity: 50%;
}


/* Skills and Projects */
.section-label {
    font-size: 12px;
    background: var(--subtle-border);
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin-bottom: 25px;
    color: var(--secondary-text)
}


/* Project Page */
.project-list {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.card {
    aspect-ratio: 1 / 1;
    position: relative;
    overflow: hidden;
    padding: 15px;
    border: 1px solid var(--subtle-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    align-self: center;
}
.card-body {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.card-links-container {
    display: flex;
    gap: 15px;
}
.demo-link, .code-link, .disabled-link {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.disabled-link{
    background: var(--subtle-border);
    color: var(--secondary-text);
    pointer-events: none;
    cursor: not-allowed;
}
.demo-link {
    border: 1px solid rgb(0, 136, 255);
    color: rgb(0, 136, 255);
    background: rgba(0, 136, 255, 0.05);
}
.code-link { 
    border: 1px solid var(--primary-text);
}
.card-title {
    font-weight: 400;
    font-size: 25px;
    align-self: flex-start;
    transition: .1s ease;
    margin: 0;
}
.ss-wrap {
    aspect-ratio: 16 / 10;
    width: 100%;
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid var(--subtle-border);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
    position: relative;
    gap: 0px;
    cursor: pointer;
}
    .ss-wrap:hover {
        box-shadow: 
            inset 0px -10px 50px rgb(23, 23, 23);
    }
    .ss-wrap:hover .screenshot {
        transform: translateY(-10px);
        box-shadow: 
            5px 5px 5px black
            -5px -5px 5px black
    }
.screenshot {
    width: 90%;
    aspect-ratio: 16 / 8;
    border-radius: 5px;
    transition: .3s;
}
.card-desc {
    align-self: flex-start;
    font-size: 15px;
    color: var(--secondary-text);
}
.tech-list {
    display: flex;
    list-style: none;
    gap: 7px;
    justify-content: flex-start;
    padding: 0;
    flex-wrap: wrap;
}
.tech-item {
    color: vaR(--secondary-text);
    font-size:10px;
    border: 1px solid vaR(--subtle-border);
    padding: 7px;
    border-radius: 5px;
}
    /* Pseudo Card Styles */
    .card.OpenMat {
        height: 370px;
    }
    .card.OpenMat .ss-wrap {
        display: flex;
        flex-direction: column;
        gap: 10px;  
        height: 200px;
    }
    .card.OpenMat .ss-wrap p {
        font-size: 20px;
        color: var(--secondary-text);
    }
    .card.OpenMat .screenshot{
        width: 20%;
        filter: invert(.3);
        aspect-ratio: 1/1
    }
    .card.OpenMat .card-links-container {
        display: none;
    }


/* SKILLS poage  */
.skills-color-bar {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
.skill-color {
    font-size: 12px;
    position: relative;
    margin: 0;
    color: var(--secondary-text);
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}
#frequent {
    border: 1px solid rgb(0, 136, 255);
    background: rgba(0, 136, 255, 0.1);
}
#moderate {
    border: 1px solid rgb(18, 189, 18);
    background: rgba(18, 189, 18, 0.1)
}
#least {
    border: 1px solid rgb(255, 200, 0);
    background: rgba(255, 200, 0, 0.1)
}
.skill-type {
    color: var(--secondary-text);
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
.skill-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    margin: 0;
}
.skill img {
    aspect-ratio: auto;
    height: 25px;
    transition: .2s ease;
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--subtle-border);
    border-radius: 7px;
    gap: 5px;
    width: 80px;
    aspect-ratio:  1 / .8;
    transition: .2s ease;
    animation: skill-rise 1s ease forwards;
    opacity: 0;
}
.skill:hover {
    cursor: pointer;
}
.skill p {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: var(--secondary-text);
}
.skill:hover img {
    transform: translateY(-3px);
}
.most:hover {
    bordeR: 1px solid rgb(0, 136, 255);
    transition: .2s;
}
.moderate:hover {
    border: 1px solid rgb(18, 189, 18);
    transition: .2s;

}
.least:hover {
    border: 1px solid rgb(255, 200, 0);
    transition: .2s;
}

/* INFO PAge */
.info-section {
    width: 100%;
}

.extra-info {
    font-size: 15px;
    color: var(--secondary-text)
}


footer {
    text-align: center;
    padding: 50px;
    color: var(--secondary-text);
    font-size: 12px;
    font-weight: 100;
}


@keyframes status-glow {
    50% {
        opacity: .3;
    }
}
@keyframes skill-rise {
    0% {
        opacity: 0%;
        transform: translateY(30%)
    }
    100% {
        opacity: 100%;
        transform: translateY(0%)
    }
}



/* responsiveness */ 

@media (max-width: 600px) {
    .profile {
        width: 100%;
    }
    .personal-section {
        flex-direction: column;
        gap: 25px;
    }
    .pfp {
        align-self: flex-start;
    }
    .skill {
        width: 70px;
    }
    .skill img {
        height: 20px;
    }
    .info-section p {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 500px) {
    .card {
        min-height: 450px;
    }
    .ss-wrap {
        height: fit-content
    }
}
@media (max-width: 450px) {
    .section-label {
        margin-bottom: 15px;
    }
    .skills-section {
        position: relative;
    }
    .skill-color {
        font-size:11px;
    }
    .skill {
        aspect-ratio: 1/1;
        width: 40px;
    }
    .skill p {
        display: none;
    }
    .card-header {
        flex-direction: column;
        gap: 15px;
    }
    .card-desc {
        font-size: 12px;
    }
    .card-links-container {
        align-self: flex-start;
    }
    .card-links-container a{
        font-size: 10px;
    }
    .info-section p {
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    .username-status {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
}

